/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*--------------------*/

.wrapper {
    margin: 30px;
}

.block {}

.block__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid rgb(197, 221, 108);
}

.block__column {
    border: 10px solid rgb(103, 103, 158);
}

.block__column1 {
    align-self: stretch;
    order: 2;
}

.block__column2 {
    order: 1;
}

.block__column3 {
    align-self: end;
    order: 1;
}

.block__item {
    background: rgb(39, 190, 115);
    padding: 30px 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.block__rowqw {
    display: flex;
    border: 10px solid rgb(197, 221, 108);
}

.block__column2 {
    border: 10px solid rgb(103, 103, 158);
    /* flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1; */
    flex: 0 1 200px;
    /* shorten version */
}

.block__column1qw {}

.block__column2qw {}

.block__column3qw {}